body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    background-color: floralwhite;
    font-family: sans-serif;
  }
  
  button#yes {
    background-color: #1de9b6;
    font-size: 6cqw;
    color: #030C68;
  }
  
  button#no {
    font-size: 6cqw;
    width: 200px;
    height: min-content;
    background-color: pink;
  }
  
  .hidden {
    display: none !important;
  }
  
  #gif {
    width: 80vw;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
  }
  
  .button-container {
  
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #headline {
    font-family: Satisfy cursive;
    text-shadow: 0.02em 0.02em 0 whitesmoke, 0 0 0.5em light;
    font-size: 3em;
  }
  
  button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    line-height: 1.15;
    font-size: 16px;
    height: min-content;
  }
  
  button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }
  
  button#no:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }

  